.home-box{
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Nunito Sans', sans-serif;
}
.home-box video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8)
}
.video-container{
  width: 100%;
  height: 100vh;
  position: relative;
  
}

.presentation-box{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  color: white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align: center;
}

.gretting{
  font-size: 50px;
  display:flex;
  text-align: center;
  margin-top: 20vh;
}

@media (max-width:320px ){
  .gretting{
  font-size: 50px;
  display:flex;
  text-align: center;
  margin-top: 0;
}
}
.gretting p{
  font-size: 7vw;
  font-family: "Merienda";
  margin-top: 50vh;
}
@media (max-width:320px ){
  .gretting p{
    font-size: 18vw;
  }
}