.nav-box{
  width: 100vw;
  z-index: 6;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.sanwchi{
  display: none;

}
@media (max-width: 320px){
  .nav-box{
    display: none;
  }
  .sanwchi{
    position: absolute;
    color: white;
    z-index: 21;
    width: 5vw;
    height: 5vh;
    top: 0;
    left: 0;
  }
}

.menu-btn{
  background-color: rgba(243, 244, 245, 0.5);

  list-style-type: none;
  color: lavenderblush;
  width: 15rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 1%, 100% 0, 80% 100%, 20% 100%);
  font-size: 1.5em;
  text-transform: uppercase;
  position: absolute;
  top: 100%;
  left: 41%;
  transform: translateX(-50);
  cursor: pointer;

}
.menu-items{
  position: relative;
  height: 10vh;
  width: 100vw;
  background-color: black;
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 10rem;
  border-bottom: 1px solid white;
  transition: all 0.7s ease;
}
.displaynone{
  display: none;
}