.box-portafolio{
  width: 100vw;
  height: 100vh;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text{
  margin-bottom: 2vh;
  font-family: 'Tsukimi Rounded', sans-serif;
  color: white;
}
.card-porfolio{
  width: 60vw;
  height: 90vh;
  background-color: white;
  border-radius: 14px;
}
.card-porfolio h3{
  text-align: center;
  margin: 2vh 0;
}
.card-porfolio p{
  padding: 0 2vw;
}

.card-content{
  display: flex;
 justify-content: center;
 align-items: center;
 gap: 3vw;
}
.card-content i { 
  color: aqua;
}

.card-content img{
  width: 60vw;
  height: 40vh;
  border-top-left-radius: 14px;
  border-top-right-radius:14px ;
}
.stileskills{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
}
.skills{
  display: flex;
  text-align: center;
  justify-content: center;
}

.skills img{
  width: 7vw;
  height: 10vh;
}
.tecnologies-and-links{
  display: flex;
  width: 60vw;
  justify-content: space-evenly;
  margin-top: 0vh;
  gap: 3vw;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.links h4{
text-align: center;
}

.links img{
  width: 7vw;
  height: 10vh;
}
.seclections{
  z-index: 999;
  position:absolute;
  top:394vh;
  width: 65vw;
  height: 5vh;
  background-color: rgba(255, 255, 255, 0.473);
  border: 2px solid rgba(0, 0, 0, 0.308);
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item-pag{
  width: 1vw;
  height: 2vh;
  border: 1px solid black;
  border-radius: 50%;
}
