.div-box-home-typing{
  margin-bottom: 29vh;
}
@media (max-width:320px){
  .div-box-home-typing{
    margin-bottom: 0;
  }
}
.name-home{
  font-size: 40px;
  display: flex;
  gap: 2vh;
  margin: 0;
}
@media (max-width:320px){
  .name-home{
    display: inline;
    font-size: 20px;
  }
}
.name-home span{
  
  color: brown;
}
.profession{
  font-size: 5em;
  color: gold;
  padding: 0;
  margin: 0;

}

.arror{
  position: absolute;
  left: 80vh;
  top:50vh;
  width: 100vw;
}